{% extends 'base.html' %}
{% block content %}

<div  class="container bg-primary">
<h1 class="page-header text-center">Example Book List Application</h1>
<a href="{% url 'create' %}" class="btn btn-success pull-right">Create</a>
<br><br>
<table class="table table-bordered" id="card-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Description</th>
    <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for card in books %}
        <tr>
          <td>{{ card.id }}</td>
          <td>{{ card.title }}</td>
          <td>{{ card.description }}</td>
      <td>
          <a href="{% url 'update' id=card.id %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
          &nbsp;<a href="{% url 'delete' id=card.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" class="text-center bg-warning">No Card</td>
        </tr>
      {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
